// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900&subset=cyrillic');
//@import url('https://fonts.googleapis.com/css?family=Karla:400');
@import url('https://fonts.googleapis.com/css?family=Paytone+One&display=swap');

// Variables
@import 'variables';

$custom-range-track-height: .375rem !default;
$custom-range-thumb-width: .75rem !default;
$custom-range-thumb-bg: $cyan !default;
$custom-range-thumb-active-bg: $cyan !default;

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//@import '~malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css';

//Froala
//@import '~froala-editor/css/f'
@import '~froala-editor/css/froala_editor.pkgd.min.css';
@import "~froala-editor/css/froala_style.min.css";

@import "sidebar.scss";

/*.table {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.3rem !important;
}*/

.btn-info {
    color: #fff !important;
}

.btn-link {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.table {
    margin-bottom: 0 !important;
}

.table thead > tr > th { border-bottom: none; }

.table th {
    border-top: none;
}

tr:last-child > td {
    border-bottom-width: 0;
}

.card {
    border: 1px solid #ced4da;
    background-color: #fff;
    border-radius: 0.3rem !important;
}

.dropdown-divider:last-child {
    display: none;
}

.custom-file-label {
    overflow: hidden;
    white-space: nowrap;
}

.label-btn {
    pointer-events: none;
}

.border-2 {
    border-width: 2px !important;
}

/*
 * Breadcrumbs
 */

.breadcrumb {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.breadcrumb-item, .title {
    font-size: 1.1rem;
}

/*
 * Clickable row
 */

*[data-href] {
    cursor: pointer;
}

/*
 * Feather icons
 */

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-top;
}

.last-child-mb-0 :last-child {
    margin-bottom: 0 !important;
}

// Remove latest dropdown-divider from dropdown-menu items group
.dropdown-menu :last-child .dropdown-divider {
    display: none;
}

.context {
    //color: #858585;
}

.translation {
    color: #a38068;
}

.brand {
    //color: #404040;
    font-family: 'Paytone One', sans-serif;
}

.btn-upper {
    font-weight: 500;
    letter-spacing: .04rem;
    text-decoration: none !important;
    text-transform: uppercase;
}

/*#toolbar .btn-group {
    margin-left: 0.5rem;
}*/
