// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&subset=cyrillic&display=block');
@import url('https://fonts.googleapis.com/css?family=Paytone+One&display=block');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&display=swap&subset=cyrillic,latin-ext');

// Variables
$body-bg: #fff;
$body-color: #686D85;

$enable-responsive-font-sizes: true;
$font-family-base: 'Roboto', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

$primary: #405FD3 !default;

//$input-btn-padding-x: 1.5rem !default;

//$font-family-base: 'PT Sans', sans-serif;

$cyan: #17a2b8 !default;

$input-btn-font-size: 0.85rem !important;

$custom-range-track-height: .375rem !default;
$custom-range-thumb-width: .75rem !default;
$custom-range-thumb-bg: $cyan !default;
$custom-range-thumb-active-bg: $cyan !default;
//$custom-range-thumb-focus-box-shadow:        0 0 0 1px $body-bg, $input-focus-box-shadow !default;

// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Froala
@import "~froala-editor/css/froala_style.min.css";

html {
    scroll-behavior: smooth;
}

.navbar {
    border-bottom: 1px #E8E8F0 solid;
    background-color: #F9F8F8 !important;
}

.btn {
    padding-left: 1.4rem !important;
    padding-right: 1.4rem !important;
    font-weight: 500 !important;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.footer {
    background: #405FD3;
    color: #D9DFF6 !important;
}

//.navbar-brand {
//    color: #405FD3 !important;
//    font-family: 'Paytone One', sans-serif !important;
//}

.nav-link {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: .05rem;
    text-transform: uppercase;
}

.btn-link {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.navbar-brand:hover {
    //color: #1F618D !important;
}

.readable {
    font-family: Georgia, Times, "Times New Roman", serif;
}

//.btn-link {
//    @each $name, $color in (success: $success, info: $info, warning: $warning, danger: $danger) {
//        &.text-#{$name} {
//            @include hover-focus {
//                color: darken($color, 10%) !important;
//            }
//        }
//    }
//}

.btn-upper {
    font-weight: 500;
    letter-spacing: .04rem;
    text-decoration: none !important;
    text-transform: uppercase;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-top;
}

//.btn-upper:hover {
//    text-decoration: none;
//}
